/* #root {


} */

:root {
  --color-box-size: 70px;
  --default-bg: linear-gradient(to left, #2a2a96, #a21f8d, #e53c73);
}



/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.mood-button {
  /* background-color: #E63946; */
  width: 70px;
  height: 70px;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-wrapper {
    /* justify-content: center;
  justify-items: center; */

    /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* make it take the full screen */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

    /* background-image: var(--default-bg); */

}

.app-wrapper-contents {
    max-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #c89898; */
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.mood-color-button {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.step-one-content {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}

hr {
  opacity: 0.3;
}
.error-message{
    color: red;
    font-weight: bold;
    margin-top: 10px;
    /* fading effect after 1 second */
    animation: fadeOut 3s forwards;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* selected mood buttons */
.selected{ 
    box-shadow: 0 0 10px 5px #646cff;
    transform: scale(1.2);
}